<h3>Registration</h3>

<%= simple_form_for @user do |f| %>
  <%= f.input :email, required: true %>
  <%= f.input :password, required: true %>
  <%= f.input :password_confirmation, required: true %>
  <%= f.button :submit, class: 'btn btn-primary btn-lg' %>
<% end %>
