<h3>Регистрация</h3>

<% @user.errors.full_messages.each do |msg| %>
  <li><%= msg %></li>
<% end %>
<%= simple_form_for(:registration, url: registrations_path) do |f| %>
  <%= f.input :email %>
  <%= f.input :password %>
  <%= f.input :password_confirmation %>
  <%= f.submit "Зарегистрироваться", class: 'btn btn-primary btn-lg' %>
<% end %>
