<table class="table table-striped">
<caption>Список карточек</caption>
  <thead>
    <tr>
      <td>ID карточки</td>
      <td>Оригинальный текст</td>
      <td>Переведенный текст</td>
      <td>Дата просмотра</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody>
  <% unless current_user.cards.nil? %>
    <% current_user.cards.each do |card| %>
      <tr>
        <td><%= card.id %></td>
        <td><%= card.original_text %></td>
        <td><%= card.translated_text %></td>
        <td><%= card.review_date.strftime("%d/%m/%Y") %></td>
        <td><%= link_to "Редактировать", edit_card_path(card) %></td>
        <td><%= link_to "Удалить", card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
