<ul>
  <li><%= @card.original_text %></li>
  <li><%= @card.translated_text %></li>
  <li><%= @card.review_date %></li>
  <li><%= link_to "Редактировать", edit_card_path %></li>
  <li><%= link_to "Удалить", card_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
</ul>
