<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="container">
    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <nav class="navbar-right">
        <ul class="nav nav-pills">
          <li><%= link_to "Все карточки", cards_path %></li>
          <li><%= link_to "Добавить карточку", new_card_path %></li>
        </ul>
      </nav>
    </header>
    <section>
      <%= yield %>
    </section>
  </section>

</body>
</html>
