<!DOCTYPE html>
<html>
<head>
  <title>Флэшкарточкер</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <section id="container">
    <header class="clearfix">
      <h1>Флэшкарточкер</h1>
      <nav class="navbar-right">
        <ul class="nav nav-pills">
          <li><%= link_to "Главная", root_path %></li>
        <% if current_user %>
          <li><%= link_to "Тренировщик", new_review_path %></li>
          <li><%= link_to "Мои карточки", cards_path %></li>
          <li><%= link_to "Добавить карточку", new_card_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.email %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Изменить профиль", edit_user_path(current_user) %></li>
              <li><%= link_to 'Log Out', :logout, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Зарегистрироваться", sign_up_path %>
          <li><%= link_to "Войти", :login %>
        <% end %>
        </ul>
      </nav>
    </header>
    <section>
      <% flash.each do |name, msg| -%>
        <%= content_tag :div, msg, class: "alert alert-info" %>
      <% end -%>
      <%= yield %>
    </section>
  </section>

</body>
</html>
